a{
    color: var(--white);
}

.main-info-container{
    display: flex;
    border-radius: 4px;
    border: 1px solid #6a668a;
    background-color: #2f3045;
    padding: 12px;
    width: 25rem;
    cursor: pointer;
    margin: .4rem;
}

.main-info-container:hover {
    transform: scale(1.03);
}

.nft-description-container{
    padding-left: 1rem;
    width: inherit;
}

.nft-image{
    background-color: var(--steel-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: #1f1f2d;
    border-radius: 4px;
    padding: 0 5px;
}

.nft-image img {
    max-width: 6rem;
}

.nft-title {
    font-weight: bold;
    border-bottom: 1px solid #6a668a;
    padding: 8px 0;
    padding-top: 0;
}

.nft-description {
    padding: 8px 0;
    border-bottom: 1px solid #6a668a;
}

.nft-price {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.nft-price-title {
    color: #03e1e4;
    text-transform: uppercase;
}