<header>
    <div class="logo">
        <a routerLink="/"><img src="./assets/images/logo.png" alt=""></a>
    </div>

    <nav class="main-menu" *ngIf="isAuth">
        <h2>Navigation</h2>
        <ul>
            <li *ngIf="role === 'artist'"><a routerLink="/nft/create">Crear</a></li>
            <li><a routerLink="/store">Store</a></li>
            <li><a routerLink="/collection">Mis NFTs</a></li>
        </ul>
    </nav>

    <nav>
        <h2>Navigation</h2>
        <ul>
            <li *ngIf="!isAuth"><a routerLink="/signup">Sign Up</a></li>
            <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>

            <li *ngIf="isAuth"><a (click)="logout()" >Logout</a></li>
        </ul>
    </nav>
</header>
