<header>
    <div class="logo">
        <a href="./"><img src="./assets/images/logo.png" alt=""></a>
    </div>

    <nav class="main-menu" *ngIf="isAuth">
        <h2>Navigation</h2>
        <ul>
            <li *ngIf="role === 'artist'"><a href="nft/create">Crear</a></li>
            <li><a href="store">Store</a></li>
            <li><a href="collection">Mis NFTs</a></li>
        </ul>
    </nav>

    <nav>
        <h2>Navigation</h2>
        <ul>
            <li *ngIf="!isAuth"><a href="signup">Sign Up</a></li>
            <li *ngIf="!isAuth"><a href="login">Login</a></li>

            <li *ngIf="isAuth"><a (click)="logout()" >Logout</a></li>
        </ul>
    </nav>
</header>
