<header>
    <div class="logo">
        <a href="./"><img src="./assets/images/logo.png" alt=""></a>
    </div>

    <nav class="main-menu">
        <h2>Navigation</h2>
        <ul>
            <li><a href="nft/create">Crear</a></li>
            <li><a href="store">Store</a></li>
            <li><a href="profile">Mis NFTs</a></li>
        </ul>
    </nav>

    <nav>
        <h2>Navigation</h2>
        <ul>
            <li><a href="signup">Sign Up</a></li>
            <li><a href="login">Login</a></li>
        </ul>
    </nav>
</header>
