main .spotlight {
    background: url('/assets/images/spotlight.jpg') center;
    min-height: 38rem;
    text-align: center;
}

main .spotlight .logo img{
    width: 7.5rem;
}

.header-retrostore{
    text-shadow: -3px -3px 0 #644682;
    font-size: 4.8rem;
    display: inline-block;
    margin-bottom: .5rem;
}

.description-retrostore{
    background-color: var(--rum);
    font-size: 2.4rem;
    padding: 0 .7rem;
}

.main-title {
    padding-top: 5rem;
}

section.statistics {
    display: flex;
    justify-content: center;
    padding: 4rem;
}

.statistic-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.statistics .statistic-item:not(:first-child){
    margin-left: 6rem;
}

.statistic-title {
    font-size: 1.4rem;
    color: var(--light-text);
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5rem;
}

.statistic-title img{
    width: 2.5rem;
    filter: contrast(.4);
    margin-bottom: 1rem;
}

.statistic-value {
    font-size: 1.7rem;
    opacity: .8;
    color: var(--primary)
}

section.about {
    background-color:#e9e7ed;
    padding-top: 75 px;
    padding: 4rem;
}

.about-title {
    font-size: 2rem;
    margin: 0;
    color: #7d59a1;
    text-shadow: px 2px 0 rgb(133 116 142 / 22%);
    text-align: center;
}

.about-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack:center;
    justify-content: center;
}

.paragraph{
    font-size: 1.1rem;
}

.paragraph p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #0b131a;
    text-align: justify;
}

.about-container .paragraph img {
    width: 510px;
    height: 400px;
    border-radius: .5rem;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.main-footer {
    line-height: 1;
}

.main-footer {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
}

.main-footer .top-footer-container {
    background-color: #1e1924;
    padding: 3rem;
}

.container {
    width: 100%;
    margin-right: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container-footer{
    justify-content: center;
}

.container-bottom-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}


@media screen and (min-width: 1024px) {
    .main-footer .top-footer-container .footer-block {
        text-align: left;
    }
}

.main-footer .top-footer-container .footer-block {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}



@media (min-width: 1024px) {
    .col-lg-2 {
        -webkit-box-flex: 0;
        flex: 0 0 17%;
        max-width: 17%;
    }
}

.col, .col-1, .col-2, .col-lg-2, .col-lg-3{
    position: relative;
    width: 100%;
    min-height: 1px;
}

.main-footer .top-footer-container .footer-block .title-block {
    font-size: 24px;
    color: #464057;
}

.main-footer .top-footer-container .footer-block .body-block p {
    font-size: 20px;
    text-decoration: none;
    color: #938d9e;
}

.main-footer .top-footer-container .footer-block.support {
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .main-footer .top-footer-container .footer-block {
        margin-bottom: 0;
    }
}



*, :after, :before {
    box-sizing: border-box;
}

div {
    display: block;
}

@media screen and (min-width: 1024px) {
    .main-footer .top-footer-container .footer-block.follow-us {
        text-align: right;
    }

}

@media (min-width: 1024px) {
    .col-lg-3 {
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
    }
}


.main-footer .top-footer-container .footer-block.follow-us .title-block {
    color: #fff;
}

.main-footer .top-footer-container .footer-block.follow-us .body-block {
    display: flex;
    -webkit-box-pack: center;
    justify-content: flex-end;
    text-align: right;
}

.main-footer img {
    margin-left: .5rem;
}

.main-footer .top-footer-container .footer-block.follow-us .body-block .main-footer .top-footer-container .footer-block.follow-us .body-block p {
    margin-bottom: 0;
}


.main-footer .bottom-footer-container {
    
    text-align: left;
}


.main-footer .bottom-footer-container {
    
    background-color: #2f3045;
}

.main-footer .bottom-footer-container .left-block .top-block p {
    color: deepskyblue;
}

.main-footer .bottom-footer-container .left-block .bottom-block p {
    color: #938d9e;
}