<main>
    <div class="spotlight" [ngStyle]="{'background-image': 'url(./assets/images/spotlight.jpg)'}">
        <div class="main-title">
            <div class="logo">
                <img src="./assets/images/mario.gif" alt="">
            </div>
            <h1><span class="header-retrostore">Retro Store</span><br> <span class="description-retrostore">Online NFT Store Simulator</span></h1>
        </div>
    </div>

    <section class="statistics">
        <div class="statistic-item">
            <div class="statistic-title">
                <img src="./assets/images/icons/wallet.svg" alt="">
                <p>Múltiples carteras</p>
            </div>
            <div class="statistic-value">
                <p>+100</p>
            </div>
        </div>

        <div class="statistic-item">
            <div class="statistic-title">
                <img src="./assets/images/icons/yoshi.svg" alt="">
                <p>Artistas registrados</p>
            </div>
            <div class="statistic-value">
                <p>+50</p>
            </div>
        </div>

        <div class="statistic-item">
            <div class="statistic-title">
                <img src="./assets/images/icons/cart_packages.svg" alt="">
                <p>NFT generados</p>
            </div>
            <div class="statistic-value">
                <p>+200</p>
            </div>
        </div>

        <div class="statistic-item">
            <div class="statistic-title">
                <img src="./assets/images/icons/megaphone.svg" alt="">
                <p>Promoción aleatoria</p>
            </div>
            <div class="statistic-value">
                <p>552</p>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="about-title">
            <h2>¿Qué es Retro Store?</h2>
        </div>
        <div class="about-container">
            <div class="paragraph">
                <img src="./assets/images/store.png">
                <p>Retro Store es un sistema de gestión de servicios
                para el sector cripto simulando tokens no fungibles 
                (NFT) sobre blockchain.</p>
                <p>Los NFT se usan para generar arte, certificar propiedad
                y comercialziar artículos exclusivos aprovechando la alta
                demanda de los videojuegos retro.</p>
                <p>💰 Aquí puedes <span class="important uppercase">comprar y coleccionar NFT</span>. Sólo Regístrate, 
                personaliza tu perfil y escoge el token que más te guste!.</p>
                <p>Síguenos en nuestras redes sociales para no perderte las
                notificaciones de nuestro contenido y futuras actualizaciones!</p>
            </div>
        </div>
    </section>
</main>
