<main>
    <div class="spotlight">
        <div class="main-title">
            <div class="logo">
                <img src="/assets/images/mario.gif" alt="">
            </div>
            <h1><span class="header-retrostore">Retro Store</span><br> <span class="description-retrostore">Online NFT Store Simulator</span></h1>
        </div>
    </div>

    <section class="statistics">
        <div class="statistic-item">
            <div class="statistic-title">
                <img src="/assets/images/icons/wallet.svg" alt="">
                <p>Múltiples carteras</p>
            </div>
            <div class="statistic-value">
                <p>+100</p>
            </div>
        </div>

        <div class="statistic-item">
            <div class="statistic-title">
                <img src="/assets/images/icons/yoshi.svg" alt="">
                <p>Artistas registrados</p>
            </div>
            <div class="statistic-value">
                <p>+50</p>
            </div>
        </div>

        <div class="statistic-item">
            <div class="statistic-title">
                <img src="/assets/images/icons/cart_packages.svg" alt="">
                <p>NFT generados</p>
            </div>
            <div class="statistic-value">
                <p>+200</p>
            </div>
        </div>

        <div class="statistic-item">
            <div class="statistic-title">
                <img src="/assets/images/icons/megaphone.svg" alt="">
                <p>Promoción aleatoria</p>
            </div>
            <div class="statistic-value">
                <p>552</p>
            </div>
        </div>
    </section>

    <section class="about">
        
    </section>

</main>
