<section class="main-footer">
    <div class="top-footer-container">
        <div class="container">
            <div class="align-items-stretch justify-content-between row container-footer">
                <div class="footer-block col-1 col-lg-2">
                    <div class="title-block">
                        <p>INFORMACION:</p>
                    </div>
                    <div class="body-block">
                        <p>Blog</p>
                        <p>Preguntas Frecuentes</p>
                        <p>Referidos</p>
                    </div>
                </div>
                <div class="footer-block support col-1 col-lg-2 offset-lg-1">
                    <div class="title-block">
                        <p>CONTACTO:</p>
                    </div>
                    <div class="body-block">
                        <p>support@retrostore.com</p>
                    </div>
                </div>
                <div class="footer-block follow-us col-1 col-lg-3 offset-lg-2">
                    <div class="title-block">
                        <p>SIGUIENOS EN:</p>
                    </div>
                    <div class="body-block">
                        <p>
                            <a href="https://www.twitter.com" target="blank">
                                <img src="assets/images/icons/twitter-logo-icon.svg" alt="tw" width="40" height="40">
                            </a>
                        </p>
                        <p>
                            <a href="https://www.discord.com" target="blank">
                                <img src="assets/images/icons/youtube-logo-icon.svg" alt="dd" width="40" height="40">
                            </a>
                        </p>
                        <p>
                            <a href="https://www.facebook.com" target="blank">
                                <img src="assets/images/icons/facebook-logo-icon.svg" alt="fb" width="40" height="40">
                            </a>
                        </p>
                        <p>
                            <a href="https://www.youtube.com" target="blank">
                                <img src="assets/images/icons/instagram-logo-icon.svg" alt="yt" width="40" height="40">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer-container">
        <div class="container">
            <div class="align-items-center justify-content-between row">
                <div class="left-block col container-bottom-footer">
                    <div class="top-block">
                        <p>Política de Privacidad | Terminos de Servicio</p>
                    </div>
                    <div class="bottom-block">
                        <p>Derechos de Autor [C] Retro-Store 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
