
.main-footer {
    line-height: 1;
}

.main-footer {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
}

.main-footer .top-footer-container {
    background-color: #1e1924;
    padding: 3rem;
}

.container {
    width: 100%;
    margin-right: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container-footer{
    justify-content: center;
}

.container-bottom-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}


@media screen and (min-width: 1024px) {
    .main-footer .top-footer-container .footer-block {
        text-align: left;
    }
}

.main-footer .top-footer-container .footer-block {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}



@media (min-width: 1024px) {
    .col-lg-2 {
        -webkit-box-flex: 0;
        flex: 0 0 17%;
        max-width: 17%;
    }
}

.col, .col-1, .col-2, .col-lg-2, .col-lg-3{
    position: relative;
    width: 100%;
    min-height: 1px;
}

.main-footer .top-footer-container .footer-block .title-block {
    font-size: 24px;
    color: #464057;
}

.main-footer .top-footer-container .footer-block .body-block p {
    font-size: 20px;
    text-decoration: none;
    color: #938d9e;
}

.main-footer .top-footer-container .footer-block.support {
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .main-footer .top-footer-container .footer-block {
        margin-bottom: 0;
    }
}



*, :after, :before {
    box-sizing: border-box;
}

div {
    display: block;
}

@media screen and (min-width: 1024px) {
    .main-footer .top-footer-container .footer-block.follow-us {
        text-align: right;
    }

}

@media (min-width: 1024px) {
    .col-lg-3 {
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
    }
}


.main-footer .top-footer-container .footer-block.follow-us .title-block {
    color: #fff;
}

.main-footer .top-footer-container .footer-block.follow-us .body-block {
    display: flex;
    -webkit-box-pack: center;
    justify-content: flex-end;
    text-align: right;
}

.main-footer img {
    margin-left: .5rem;
}

.main-footer .top-footer-container .footer-block.follow-us .body-block .main-footer .top-footer-container .footer-block.follow-us .body-block p {
    margin-bottom: 0;
}


.main-footer .bottom-footer-container {
    
    text-align: left;
}


.main-footer .bottom-footer-container {
    
    background-color: #2f3045;
}

.main-footer .bottom-footer-container .left-block .top-block p {
    color: deepskyblue;
}

.main-footer .bottom-footer-container .left-block .bottom-block p {
    color: #938d9e;
}