h1{
    text-align: center;
    margin: 1rem;
}
.store-wrapper{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.store-content {
    display: flex;
    flex-wrap: wrap;
    width: 104rem;
}