<main>
    <section class="create-nft-form">
        <h1>Nuevo Retro NFT</h1>

        <form action="">
            <div class="form-container roller-section">
                <div class="form-content">
                    
                    <div class="form-group">
                        <label for="">Título</label>
                        <div class="roller-input-group">
                            <input type="text" name="title" class="roller-input-text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Descripción</label>
                        <div class="roller-input-group">
                            <textarea type="text" name="description" class="roller-input-text" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <input id="image" name="image" type="file" class="roller-input-text input-file" (change)="imageInputChanged($event)">
                        <label id="imageLabel" for="image">Cargar Imagen</label>
                    </div>

                    <div class="form-group">
                        <label for="">Categoría</label>
                        <div class="roller-input-group">
                            <input type="text" name="type" class="roller-input-text">
                        </div>
                    </div>

                    <div class="btn-submit-container">
                        <div class="tree-dimensional-button btn-default">
                            <input type="button" class="" value="Crear" onclick="">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</main>
